<!DOCTYPE html>
<html lang="en">
<head>

<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" type="text/css" href="login.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	</head>
<body>
<div>
		<div class="container-login">
				<div >
					<img src="/img/Flacker-Logo-black.png" class="logo">
				</div>
			
				<div class="inputall">
					<div >
						<span class='fas fa-user'></span>
						<input class="username" type="text" name="username" required="required" placeholder="Email or username" data-validate="Password is required">
						</input>
						</div>
				<div>
				</div>
					<span class="fas fa-lock" ></span>
					<input class="password" type="password" name="Password" placeholder="Password">
					
					
				</div>
				<div>	
				<input class="login" value="Login" type="Submit">
				</div>
</div>

</body>
</html>
